body.light {
  --primary-purple: #ff7f50; /* botões e detalhes */
  --primary-orange: #6a0dad; /* detalhes suaves, mas não vibrantes */
  --dark-purple: #E8EBED; /* navbar clara */
  --light-orange: #4b0082; /* fundo principal, off-white sutil */
  --gray-900: #d1d5db; /* fundo off-white */
  --gray-800: #9ca3af; /* seções secundárias */
  --gray-700: #374151; /* links e textos secundários roxos */
  --gray-400: #1f2937; /* detalhes menores */
  --gray-300: #0f172a; /* textos principais */
  --white: #131211; /* cor de texto principal */
  --trasparent: rgba(0, 0, 0, 0);
}

/*? Tema padrão - Escuro */
:root {
  --primary-purple: #6a0dad;
  --primary-orange: #ff7f50;
  --dark-purple: #4b0082;
  --light-orange: #ffa07a;
  --gray-900: #0f172a;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --white: #fff;
  --moon-color: rgb(131, 62, 180);
  --sun-color: rgb(255, 165, 80);
  --trasparent: rgba(255, 255, 255, 0);
  --transition-fast: 200ms;
  --max-width: 1280px;
}

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--gray-900);
  color: var(--white);
  transition: background-color 0.4s, color 0.4s;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/** ===== NAVBAR ===== */
.navbar {
  background: var(--dark-purple);
  transition: background 0.4s;
}
.nav-logo,
.link-cassino,
.link-ongs {
  color: var(--white);
  transition: color 0.4s;
}

/* Botão primário */
.btn-primary {
  background: linear-gradient(
    135deg,
    var(--primary-purple),
    var(--primary-orange)
  );
  color: var(--white);
}

.btn-primary:hover {
  transition: var(--transition-fast);
  filter: brightness(1.1)
}


.btn-primary {
  background: linear-gradient(
    135deg,
    var(--primary-purple),
    var(--primary-orange)
  );
  color: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(2, 6, 23, 0.6);
}

.navbar {
  background: var(--dark-purple);
  border-bottom: 1px solid #111827;
  position: sticky;
  top: 0;
  z-index: 60;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-interno {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/** Logo Doe e Ganhe */
.nav-logo {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}

/** Paginas */
.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: 2.5rem;
}

.link-cassino, .link-ongs {
  color: var(--gray-300);
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-size: 0.95rem;
  text-decoration: none;
}

.link-cassino:hover, .link-ongs:hover {
  color: var(--primary-orange);
  transition: var(--transition-fast);
}

/** Botões de ações */
.nav-acoes {
  display: flex;
  gap: 0.5rem;
}

.btn-icon {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  padding: 0.4rem;
  border-radius: 9999px;
  cursor: pointer;
}
.btn-icon:hover {
  color: #fff;
  /* transform: scale(1.05); */
  transition: var(--transition-fast);
}

/** Botão de alternância de tema*/
.theme-toggle {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  border-color: var(--primary-orange);
  border-width: 1px;
  border-style: solid;
  /* background: rgba(0, 0, 0, 0.30); */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: background 0.3s;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--moon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background 0.3s;
  position: relative;
}

body.light .circle {
  transform: translateX(24px);
  background: var(--sun-color);
}

.icon {
  position: absolute;
  width: 14px;
  height: 14px;
  transition: opacity 0.3s;
}

.moon {
  left: 3px;
  opacity: 1;
  color: #ffffff;
}
.sun {
  right: 3px;
  opacity: 0;
  color: #362b00;
}

body.light .moon {
  opacity: 0;
}
body.light .sun {
  opacity: 1;
}

/** Botão cadastrar e login*/
.btn-cadastrar {
  background: linear-gradient(
    135deg,
    var(--primary-purple),
    var(--primary-orange)
  );
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  /* font-size:1rem; */
  font-weight: 600;
  border: 0;
  cursor: pointer;
  margin-left: 0.5rem;
}
.btn-login {
  background: transparent;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  /* font-size:1rem; */
  border: 1px solid var(--primary-orange);
  margin-left: 0.5rem;
}
.btn-cadastrar:hover, .btn-login:hover {
  /* transform: scale(1.05); */
  transition: var(--transition-fast);
  filter: brightness(1.1);
}
.btn-login:hover {
  background: var(--primary-orange);
}
