body{
    background-color: aquamarine;
    margin:0;

}
header{ /*cabeçalho*/
    background-color: lightblue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:left;
    display: flex;           
    align-items: center;     
    gap: 10px;
}

.botoes-header { /*div dos botões do cabeçalho pra deixar na direita*/
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#registrarbtn{
    background-color: #297716;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}